@{
    ViewData["Title"] = "Home";
}

<div class="home-hero-img-wrapper">
    <div class="content text-center">
        <span class="subtitle">pet care products</span>
        <h1>Organic Food <br/> Ingredients</h1>
    </div>
</div>